/*

  Tuan Tran
  4/8/20
  AM, Theresa Tran

  This is the css file specifically for the index.html file.
  This includes specific styles for the artists and albums
  divs from in index.html
*/

.artists {
  padding: 0% 2%;
  width: 30%;
}

.artists ul {
  padding: 0%;
}

li {
  list-style: none;
}

.albums li, .artists {
  display: inline-block;
}

.albums, h3 {
  padding: 2%;
}

.albums, h3, #history li {
  text-align: center;
}

.albums li {
  list-style-type: none;
  vertical-align: top;
  padding: 1% 3%;
}

#tracklist, section#generator, #history ul, #history, #song-suggests, #fill {
  display: flex;
}

#tracklist, section#generator {
  justify-content: center;
}

#tracklist {
  align-items: flex-start;
}

.coll {
  font-style: san-serif;
  margin: 5px 0px 5px 0px;
  padding: 10px;
}

.coll, .suggestion button, label {
  border: none;
  outline: none;
  font-weight: bold;
}

.coll, #gen, .suggestion button, #submit {
  cursor: pointer;
}

.coll:hover {
  background-color: #b37f4c;
}

section#generator, .coll, #fill {
  background-color: #cca67f;
}

.expand {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 250ms ease-out;
}

.appear {
  max-height: 315px;
}

section#generator, #fill, #history, #history ul {
  flex-direction: column;
  align-items: center;
}

section#generator {
  margin-bottom: 150px;
  padding: 20px;
}

#gen {
  padding: 15px;
}

#gen, #loading {
  margin: 20px;
}

#random-song {
  width: 500px;
  max-height: auto;
}

iframe {
  height: 315px;
}

iframe, .suggestion button, .coll {
  width: 100%;
}

#generator button, #generator .coll, .suggestion button, #history li {
  background-color: #bd7e6e;
}

.suggestion button {
  padding: 14px;
  margin-top: 10px;
}

.suggestion ul {
  margin: 0;
}

.suggestion li {
  font-size: 12px;
  padding: 18px;
  line-height: 2em;
}

.suggestion a, #history a {
  color: black;
}

#generator button, #generator .coll, .suggestion li, #history li {
  font-family: "Press Start 2P", sans-serif;
}

.appearence {
  max-height: 400px;
}

#gen:hover, .suggestion ul {
  background-color: #c9634a;
}

#song-suggests {
  padding: 22px;
}

#fill {
  justify-content: flex-start;
  width: 25%;
  margin-right: 50px;
  height: 700px;
}

#fill input {
  margin: 11px;
  width: 75%;
}

#fill label, #fill button {
  margin: 10px;
}

#fill h3 {
  font-size: 80%;
}

#history {
  width: 70%;
  background-color: #cc927f;
}

#history #song-list {
  width: 90%;
  height: 500px;
  overflow-y: scroll;
}

#history ul {
  padding: 0px;
}

#history li {
  width: 80%;
  padding: 12px;
  margin: 22px;
}

#history a:hover {
  color: orange;
}
